<h1>Posts index</h1>
<p>Here is a list posts for a specific user</p>
<div>
  <img src="<%= @user.photo %>">
  <h2><%= @user.name %></h2>
</div>
<p>Number of posts:<%=@user.posts_counter %></p> <br>
<% @user.all_posts.each do  |post| %>
    <div>
      <%= link_to user_post_path(@user, post) do %>
      <h3>Post #<%= post.id %> <%= post.title%> </h3>
      <% end %>
      <p><%= post.text %></p>
      <span>Comments:<%= post.comments_counter%>,</span>
      <span>Likes:<%= post.likes_counter%>,</span>
    </div>
    <div>
      <% post.last_five_comments.each do |comment| %>
         <p><%=comment.author.name %>:<%= comment.text %></p>
      <% end %>
    </div>
    <br>
<% end %>
