<h1>Posts index</h1>
<p>Here is a list posts for a specific user</p>
<div class="user-index bordered">
  <div>
    <img src="<%= @user.photo %>">
    <h1><%= @user.name %></h1>
  </div>
  <span>Number of posts:<%=@user.posts_counter %></span>
</div>
<% @user.all_posts.each do  |post| %>
  <div class="post-mini bordered">
    <%= link_to user_post_path(@user, post) do %>
    <h3>Post #<%= post.id %> <%= post.title%> </h3>
    <% end %>
    <p><%= truncate(post.text, length:300) %></p>
    <small>Comments:<%= post.comments_counter%>, Likes:<%= post.likes_counter%></small>
  </div>
    <div class="comments bordered">
      <% post.last_five_comments.each do |comment| %>
         <p><%=comment.author.name %>:<%= comment.text %></p>
      <% end %>
    </div>
<% end %>
