<!DOCTYPE html>
<html>
  <head>
    <title>RailsBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <header>
      <div>
        Logo placeholder
      </div>
      <ul>
        <li>
          <a href="/">Users index</a>
        </li>
      </ul>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if user_signed_in? %>
    <%= link_to 'sign out' ,destroy_user_session_path, method: :delete %>
    <% end %>
    <%= yield %>
  </body>
</html>
