<!DOCTYPE html>
<html>
  <head>
    <title>RailsBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <header>
      <div>
        Logo placeholder
      </div>
      <ul>
        <li>
          <a href="/">Users index</a>
        </li>
      </ul>
      <ul>
        <% if user_signed_in? %>
        <h3><%= "Hello! #{current_user.name}" %></h3>
        <li><%= link_to 'Sign out' ,destroy_user_session_path, method: :delete %></li>
        <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
        <% else %>
        <li><%= link_to 'Sign in', new_user_session_path %></li>
        <li><%= link_to 'Sign up', new_user_registration_path %></li>
        <% end %>
      </ul>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
